.footerSectionsContainer {
  display: flex;
  justify-content: center;
}
.footerInnerSectionsContainer {
  display: flex;
  gap: 10px;
  padding: 20px;
}
.footerLinksContainer {
  display: flex;
  gap: 10px;
}
@media (max-width: 890px) {
  .footerInnerSectionsContainer {
    display: flex;
    flex-direction: column;
  }
 
}
@media (max-width: 500px) {
 
  .footerLinksContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
