.footerContainer {
  overflow: hidden;
}

.footerSectionsContainer {
  display: flex;

  justify-content: center;
  align-items: center;
}
.footerInnerSectionsContainer {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  gap: 20px;
}
