.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 0;
  background: whitesmoke;
  height: 80px;
  z-index: 100;
  position: absolute;
 
}

.navbarSticky {
  
  top: -80px;
  position: fixed;
  background: rgba(255, 255, 255, 0.818);
  backdrop-filter: blur(10px);
  transition: all 0.6s ease-in-out;
  transform: translateY(80px);
}
.hamburgerNavbar {
  display: none;
}
.logoResponsive {
  display: none;
}
.navbarItemLinksResponsive {
  display: flex;
  flex-direction: column;
}
.navbarActionLinksResponsive {
  display: flex;
  flex-direction: column;
}
@media (max-width: 890px) {
  .navbarItemLinks {
    display: none;
  }
  .navbarActionLinks {
    display: none;
  }
  .hamburgerNavbar {
    display: block;
  }
  .logoResponsive {
    display: block;
  }
}
