.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* position: fixed;
  z-index: 10000; */
  top: 0;
  background: whitesmoke;
  height: 80px;
}
.navbarSticky {
  position: fixed ;
  z-index: 10000 ;
}

.storeNavItems {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.actionNavItems {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
