.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: whitesmoke;
  height: 80px;

  transition: 0.5s ease-in-out;
}
.navbarSticky {
  position: fixed;
  top: 0;
  z-index: 10000;
  background: rgba(255, 255, 255, 0.818);
  backdrop-filter: blur(10px);
  transition: 0.5s ease-in-out;
}
.storeNavItems {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.actionNavItems {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
