.productImgContainer {
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.productImgContainer:hover {
  transition: all 0.5s ease-in-out;
  filter: brightness(70%);
  border-radius: 10px 10px 0 0;
}
.cardImg {
  width: 100%;
  height: 325px;
  transition: all 0.3s ease-out;
}
.cardImg:hover {
  transform: scale(1.1);
}
.cardHeader {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}
.productDetailsContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  justify-content: center;
}
.itemToCheckOutImage {
  width: 30%;
  height: 30%;
}
.productDetailsImage {
  width: 50%;
  height: 50%;
}
.reviewHeader {
  justify-content: space-between;
}
@media (max-width: 750px) {
  .productDetailsContainer {
    flex-direction: column;
  }
  .productDetailsImage {
    width: 100%;
  }
  .reviewHeader {
    flex-direction: column;
    gap: 5px;
    font-size: smaller;
  }
  .itemToCheckOutImage {
    width: 100%;
  }
  .itemToCheckOutInnerContainer {
    flex-direction: column;
  }
}
