.productImgContainer {
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.productImgContainer:hover {
  transition: all 0.5s ease-in-out;
  filter: brightness(70%);
}
.cardImg {
  width: 400px;
  height: 325px;
  transition: transform 0.3s ease-out;
}
.cardImg:hover {
  transform: scale(1.1);
}
.cardHeader {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}
