.itemsInCartPageContainer {
  padding: 100px;
}
.itemToCheckOutPageContainer {
  padding: 100px;
}
.productImgContainer {
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.productImgContainer:hover {
  transition: all 0.5s ease-in-out;
  filter: brightness(70%);
  border-radius: 10px 10px 0 0;
}
.cardImg {
  width: 100%;
  height: 325px;
  transition: all 0.3s ease-out;
}
.cardImg:hover {
  transform: scale(1.1);
}
.cardHeader {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}
.productDetailsContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  justify-content: center;
}
.itemInCartImage {
  width: 30%;
  height: 30%;
}
.itemInCartDescription {
  width: 70%;
}
.itemInCartContentContainer {
  width: 50%;
}
.itemToCheckOutImage {
  width: 30%;
  height: 30%;
}
.productDetailsImage {
  border-radius: 10px;
  filter: brightness(80%);
  width: 50%;
  height: 50%;
}
.reviewHeader {
  justify-content: space-between;
}
.productCardContainer {
  width: 400px;
}

.productsLayoutContainer {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 10px;
  overflow-x: hidden;
}
@media (max-width: 800px) {
  .productsLayoutContainer {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    gap: 10px;
  }
}
@media (max-width: 750px) {
  .productDetailsContainer {
    flex-direction: column;
  }
  .productDetailsImage {
    width: 100%;
  }
  .reviewHeader {
    flex-direction: column;
    gap: 5px;
    font-size: smaller;
  }
  .itemInCartImage {
    width: 100%;
  }
  .itemToCheckOutImage {
    width: 100%;
  }
  .itemInCartInnerContainer {
    flex-direction: column;
  }
  .itemInCartDescription {
    width: 100%;
  }
  .itemToCheckOutInnerContainer {
    flex-direction: column;
  }
  .itemsInCartPageContainer {
    padding: 30px;
  }
  .itemToCheckOutPageContainer {
    padding: 30px;
  }
  .itemInCartContentContainer {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .productsLayoutContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .productCardContainer {
    width: 100%;
  }
}
